*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    background-color: #114a60;
    position: relative;
}

.heading {
    background-image: url('html-css-collage-concept.jpg');
    opacity: 0.75;
    background-position: top left;
    height: 240px;
    width: 100%;
}

.heading h1 {
    font-size: 40px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    opacity: 1;
    font-family: 'Chango', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
} 

.heading p {
    font-size: 20px;
    padding: 50px 65px;
    color: white;
    font-weight: bold;
    opacity: 1;
    text-align: center;
    font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}

table {
    table-layout: auto;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    border: 2px solid black;
    background-color: hsl(292, 77%, 88%);
    font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}

th{
    border: 1px solid black;
    text-align: center;
    background-color:hsl(292, 85%, 77%);
    color: black;
    font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    position: sticky;
    top: 0;
}

 td{
    border: 1px solid black;
    width: 33%;
    overflow: scroll;
    margin: 1%;
    padding: 1%;
    text-align: justify;
    border-collapse: collapse;  
}

code {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color:antiquewhite;
    width: 33%;
    margin: 1
}

ul {
    padding: 10px 20px;
}

ol {
    padding: 10px 20px;
}

.footer {
    background-color: #0d3d57;
    color: #fff;
    font-weight: bold;
    font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

